Repository palkan/rubanok: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

liche:
  tags: links
  run: liche *.md && test "{staged_files}"

forspell:
  tags: grammar
  run: forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop -c .rubocop-md.yml --force-exclusion {staged_files}

Standardize gem development
  .gem_release.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs-lint.yml
  .github/workflows/rspec.yml
  .github/workflows/rubocop.yml
  .gitignore
  .mdlrc
  .rspec
  .rubocop-md.yml
  .rubocop.yml
  .travis.yml
  CHANGELOG.md
  Gemfile
  Gemfile.local
  LICENSE.txt
  README.md
  RELEASING.md
  Rakefile
  forspell.dict
  gemfiles/rails42.gemfile
  gemfiles/rails5.gemfile
  gemfiles/rails6.gemfile
  gemfiles/rubocop.gemfile
  lefthook.yml
  rubanok.gemspec
  spec/spec_helper.rb
Due: mdl, liche, forspell, rubocop

Upd Rails requirements in Readme
  README.md
Due: mdl, liche, rubocop

Upgrade Rake
  rubanok.gemspec
Due: none

feat: add #prepare method
  CHANGELOG.md
  README.md
  lib/rubanok/processor.rb
  spec/cases/prepare_spec.rb
Due: mdl, liche, rubocop

refactor: drop #symbolize_keys refinement
  lib/rubanok/ext/symbolize_keys.rb
  lib/rubanok/processor.rb
Due: none

feat: specify ignore_empty_values per rule
  CHANGELOG.md
  README.md
  lib/rubanok/rule.rb
  spec/cases/mapping_spec.rb
Due: mdl, liche, rubocop

chore: drop Rails 4 hacks
  spec/integrations/rails_controller_spec.rb
Due: none

feat: add filter_with option to map
  CHANGELOG.md
  README.md
  lib/rubanok/dsl/mapping.rb
  lib/rubanok/dsl/matching.rb
  lib/rubanok/processor.rb
  lib/rubanok/rule.rb
  spec/cases/mapping_spec.rb
Due: mdl, liche, rubocop

Bump 0.3.0
  CHANGELOG.md
  lib/rubanok/version.rb
Due: mdl, liche, rubocop

Fix kwargs for Ruby 3.0
  lib/rubanok/dsl/matching.rb
Due: none

chore: rbs prototype rb
  sig/rubanok.rbs
  sig/rubanok/dsl/mapping.rbs
  sig/rubanok/dsl/matching.rbs
  sig/rubanok/processor.rbs
  sig/rubanok/rule.rbs
  sig/rubanok/version.rbs
Due: none

chore: typerof
  Gemfile
  sig/rubanok/dsl/mapping.rbs
  sig/rubanok/dsl/matching.rbs
  sig/rubanok/processor.rbs
  sig/rubanok/rule.rbs
  sig/typeprof.rb
Due: none

chore: rbs prototype runtime
  sig/rubanok.rbs
Due: none

chore: steep init
  Steepfile
Due: none

rbs: initial signatures
  lib/rubanok/rule.rb
  sig/rubanok.rbs
  sig/rubanok/dsl/mapping.rbs
  sig/rubanok/dsl/matching.rbs
  sig/rubanok/processor.rbs
  sig/rubanok/rule.rbs
Due: none

rbs: make Processor#input public to pass type check
  sig/rubanok/processor.rbs
Due: none

rbs: fix set to array
  lib/rubanok/processor.rb
Due: none

fix: replace next with conditional to support type checking
  lib/rubanok/dsl/matching.rb
  lib/rubanok/rule.rb
Due: none

rbs: add Process.superclass sig
  sig/rubanok/processor.rbs
Due: none

rbs: make args forwarding explicit
  lib/rubanok/dsl/mapping.rb
  lib/rubanok/dsl/matching.rb
  sig/rubanok/dsl/mapping.rbs
  sig/rubanok/dsl/matching.rbs
  sig/rubanok/rule.rbs
Due: none

fix(spec): always require spec_helper
  .rspec
Due: none

rbs: fix Rule#empty? signature
  lib/rubanok/rule.rb
  sig/rubanok/rule.rbs
Due: none

rbs: refactor Processor#call
  lib/rubanok/processor.rb
  sig/rubanok/processor.rbs
Due: none

rbs: fix after running runtime checks
  Gemfile
  lib/rubanok/dsl/mapping.rb
  lib/rubanok/processor.rb
  sig/rubanok/dsl/mapping.rbs
  sig/rubanok/rule.rbs
  spec/cases/matching_spec.rb
Due: none

rbs: add _RulesAdding interface
  sig/rubanok/dsl/mapping.rbs
  sig/rubanok/dsl/matching.rbs
  sig/rubanok/processor.rbs
Due: none

chore: add rake steep
  Rakefile
Due: none

rbs: final fixes for steep check to pass
  lib/rubanok.rb
  lib/rubanok/dsl/matching.rb
  lib/rubanok/rule.rb
  sig/rubanok/dsl/matching.rbs
  sig/rubanok/processor.rbs
Due: none

ci: add type checking
  .github/workflows/lint.yml
  .github/workflows/rspec.yml
Due: none

rbs: add Processor@field_set signature
  sig/rubanok/processor.rbs
Due: none

misc: upd gemspec, add Ruby 3.0 to CI
  .github/workflows/rspec.yml
  CHANGELOG.md
  rubanok.gemspec
  sig/rubanok/processor.rbs
Due: mdl, liche, rubocop

docs: add RBS/Steep docs
  README.md
  forspell.dict
Due: mdl, liche, rubocop

Path conditions:
  mdl: any of: *.md, but not: .github/*
  liche: any of: *.md
  forspell: any of: **/*.md
  rubocop: any of: *.md
